.advantages__item {
  background-color: @blue;
}

.advantages__image--city {
  background-color: @swamp;
  background-image: url("../../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.advantages__image--bridge {
  background-color: @sand;
  background-image: url("../../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.advantages__subtitle {
  line-height: @line-height-secondary;
}

.advantages__headline {
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  color: @palette-primary;
}

.advantages__text {
  font-size: @font-size-primary;
  line-height: @line-height-primary;
  color: @palette-primary;
}

ul .advantages__item {
  background-color: @gray;
}

li .advantages__headline {
  color: @secondary-color;
}

li .advantages__text {
  color: @primary-color;
}
