.form__input {
  background-color: @for-input;
  font-weight: 700;
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  color: @secondary-color;
}

.form__textarea {
  background-color: @for-input;
  font-weight: 700;
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  color: @secondary-color;
}

.form__button {
  background-color: @blue;
  font-weight: 700;
  font-size: @font-size-headline;
  line-height: @line-height-secondary;
  color: @palette-primary;
}

.form__legend {
  font-weight: 700;
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  color: @secondary-color;
}

.form__label {
  font-weight: 400;
  line-height: @line-height-secondary;

}
