.gallery__headline {
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  color: @secondary-color;
}

.gallery__text {
  font-weight: 400;
  font-size: @font-size-primary;
  line-height: @line-height-sparse;
}

.gallery__title {
  font-size: @font-size-primary;
  line-height: @line-height-sparse;
  color: @secondary-color;
}

.gallery__author {
  font-weight: 400;
  font-size: @font-size-primary;
  line-height: @line-height-sparse;
}

.gallery__like {
  font-size: @font-size-primary;
  line-height: @line-height-sparse;
  color: @secondary-color;
}
