.logo-sedona {
  height: 158px;
  background-color: @sky;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .logo-sedona {
    height: 290px;
  }
}

@media (min-width: @desktop-width) {
  .logo-sedona {
    height: 301px;
  }
}
