.map {
  background-color: @for-maps;
  height: 350px;
  position: relative;
}

.map::before {
  content: "";
  position: absolute;
  top: 163px;
  right: 146px;
  width: 27px;
  height: 27px;
  background-image: url("../../img/icon-map-marker.svg");
  background-repeat: no-repeat;
}

.map__headline {
  display: none;
}

.map__image {
  width: 320px;
  height: 350px;
}

@media (min-width: @tablet-width) {
  .map::before {
    top: 165px;
    right: 371px;
  }

  .map__image {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .map__image {
    width: 1200px;
    height: 350px;
  }

  .map::before {
    top: 163px;
    right: 585px;
  }
}
