.more {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.more__headline {
  width: 250px;
  margin: 27px auto 0;
  font-size: @font-size-headline;
  line-height: @line-height-secondary;
  color: @secondary-color;
}

.more__text {
  width: 265px;
  margin: 19px auto 0;
  line-height: @line-height-sparse;
}

.more__search {
  padding: 16px 47px;
  margin: 35px auto 49px;
  background-color: @blue;
  font-size: @font-size-headline;
  line-height: @line-height-secondary;
  color: @palette-primary;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}

@media (max-width: 767px) {
  .more__text br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .more__headline {
    width: 307px;
    margin-top: 55px;
    font-size: 30px;
  }

  .more__text {
    width: 436px;
    margin: 31px auto 0;
  }

  .more__search {
    margin: 42px 153px 58px;
    padding: 16px 136px;
  }
}

@media (min-width: @desktop-width) {
  .more__search {
    margin: 47px 369px 66px;
  }
}
