.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__text {
  margin: 36px auto 0;
  font-weight: 700;
  font-size: @font-size-headline;
  line-height: @line-height-secondary;
  color: @secondary-color;
}

.page-footer__social {
  margin: 0 auto;
}

.page-footer__copyright {
  margin: 37px 30%;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
  }

  .page-footer__text {
    margin: 46px 8%;
  }

  .page-footer__copyright {
    margin: auto 13% auto 9%;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__text {
    margin: 47px 10%;
  }

  .page-footer__copyright {
    margin: auto 13% auto 11%;
  }
}
