.page-footer__text {
  font-weight: 700;
  font-size: @font-size-headline;
  line-height: @line-height-secondary;
  color: @secondary-color;
}

.copyright__text {
  line-height: @line-height-secondary;
  color: @secondary-color;
}
