.promo__headline {
  display: none;
}

.promo__logo {
  background-color: @sky;
  background-image: url("../../img/bg-intro-triangle-mobile.png"), url("../../img/bg-back-mobile@1x.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  text-align: center;
}

.promo__logo-image {
  width: 281px;
  height: 214px;
  margin: 90px 0 79px;
}

.promo__text {
  width: 255px;
  margin: 41px auto 0 auto;
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  font-weight: 700;
  color: @secondary-color;
  text-align: center;
}

@media (max-width: @tablet-width) {
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
    background-size: 768px 389px;
  }
}

@media (min-width: @tablet-width) {
  .promo__logo {
    background-image: url("../../img/bg-intro-triangle-tablet.svg"), url("../../img/bg-back-tablet@1x.jpg");
  }

  .promo__logo-image {
    margin: 90px 0 209px;
  }

  .promo__text {
    margin: 51px auto 0 auto;
    font-size: @font-size-headline;
    width: 490px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/bg-back-tablet@2x.jpg");
    background-size: 768px 518px;
  }
}

@media (min-width: @desktop-width) {
  .promo__logo {
    background-image: url("../../img/bg-intro-triangle-desktop.svg"), url("../../img/bg-back-desktop@1x.jpg");
  }

  .promo__text {
    margin: 51px auto 0 auto;
    font-size: @font-size-headline;
    width: 490px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/bg-back-desktop@2x.jpg");
    background-size: 1200px 518px;
  }
}
