.site-list__link {
  background-color: @blue;
  font-size: @font-size-secondary;
  line-height: @line-height-headline;
  font-weight: 700;
  color: @palette-primary;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 1200px;
  }
}
