.social__list {
  .indents;
  list-style: none;
  display: flex;
  margin-top: 38px;
}

.social__link {
  display: block;
  width: 46px;
  height: 47px;
  margin: -5px 3px 7px;
  padding-top: 14px;
  background-color: #81b3d2;
  text-align: center;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__icon-comb {
  fill: #ffffff;
}

.social__link:active .social__icon-comb {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin-top: 0;
  }

  .social__link {
    margin-top: 1px;
  }
}
