.video {
  text-align: center;
  margin-bottom: 39px;
}

.video__headline {
  width: 220px;
  margin: 34px auto 0;
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  color: @secondary-color;
}

.video__text {
  width: 240px;
  margin: 26px auto 35px;
  line-height: @line-height-sparse;
  font-weight: 400;
}

.video__poster {
  width: 321px;
  height: 201px;
}

.video__controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 66px;
  margin: -6px 20px 0;
  background-color: #f2f2f2;
}

.video__button {
  line-height: 0;
  background: 0 0;
  border: none;
  margin: 20px;
}

.video__button--subtitles {
  width: 40px;
  margin-left: 92px;
  margin-right: 3px;
}

.video__button--fullscreen {
  margin-right: 17px;
  margin-left: 13px;
}

.video__progress {
  position: absolute;
  top: -45px;
  left: 0;
  width: 280px;
  min-height: 45px;
  background-color: rgba(0, 0, 0, 0.5);
}

.video__progress::after,
.video__progress::before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  transform: translate(0, -50%);
}

.video__progress::after {
  left: 58px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%;
}

.video__progress::before {
  right: 22px;
  background-color: rgba(255, 255, 255, 0.3);
  left: 22px;
  height: 4px;
}

.video__icon {
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .video {
    width: 648px;
    margin: 0 auto 72px;
  }

  .video__text {
    width: 415px;
    margin-top: 31px;
    margin-bottom: 71px;
  }

  .video__headline {
    width: 352px;
    margin: 68px auto 0;
    font-size: 30px;
  }

  .video__poster {
    width: 648px;
    height: 499px;
  }

  .video__controls {
    top: -4px;
    min-height: 93px;
    margin: -94px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .video__button {
    margin-left: 29px;
    margin-right: 34px;
  }

  .video__button--subtitles {
    margin-left: 2px;
    margin-right: 14px;
  }

  .video__button--fullscreen {
    margin-left: 10px;
    margin-right: 34px;
  }

  .video__progress {
    position: relative;
    top: 0;
    flex-grow: 1;
    width: auto;
    background: 0 0;
  }

  .video__progress::before {
    right: 35px;
    left: 0;
  }

  .video__progress::after {
    left: 115px;
    width: 9px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
  }

  .video__icon {
    fill: #ffffff;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 800px;
    margin-bottom: 115px;
  }

  .video__headline {
    margin: 65px auto 0;
  }

  .video__text {
    margin-bottom: 71px;
  }

  .video__poster {
    width: 800px;
    height: 500px;
  }
}
