@blue: #82B4D3;
@gray: #EEEEEE;
@sky: #d5dfeb;
@swamp: #85937F;
@sand: #ECB79E;
@for-maps: #DDE9C8;
@for-input: #F2F2F2;

@palette-primary: #ffffff;

@primary-color: #333333;
@secondary-color: #000000;

@tablet-width: 768px;
@desktop-width: 1200px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@font-family-primary: "PTSans", "Arial", sans-serif;
@font-family-secondary: "Arial", "Helvetica", sans-serif;

@font-size-primary: 14px;
@font-size-secondary: 18px;
@font-size-headline: 21px;

@line-height-primary: 21px;
@line-height-secondary: 26px;
@line-height-headline: 40px;
@line-height-sparse: 24px;

@text-transform-base: uppercase;
